*The script to create the submission is in the end of the file.

In [1]:
import numpy as np
import pandas as pd

# Reading train and test files

In [3]:
train = pd.read_csv("/home/jardel/data-learning-ml/FCTdata/train.csv")
train.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [4]:
test = pd.read_csv("/home/jardel/data-learning-ml/FCTdata/test.csv")
test.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,15121,2680,354,14,0,0,2684,196,214,156,...,0,0,0,0,0,0,0,0,0,0
1,15122,2683,0,13,0,0,2654,201,216,152,...,0,0,0,0,0,0,0,0,0,0
2,15123,2713,16,15,0,0,2980,206,208,137,...,0,0,0,0,0,0,0,0,0,0
3,15124,2709,24,17,0,0,2950,208,201,125,...,0,0,0,0,0,0,0,0,0,0
4,15125,2706,29,19,0,0,2920,210,195,115,...,0,0,0,0,0,0,0,0,0,0

# EDA

# Feature Engineering

# Validation

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RepeatedKFold
import xgboost

In [32]:
X = train.drop("Cover_Type", axis=1)
y = train["Cover_Type"]

In [ ]:
results = []

kf = RepeatedKFold(n_splits=2,n_repeats=10,random_state=10)

for train_l, valid_l in kf.split(X):
    X_train, X_valid = X.iloc[train_l],X.iloc[valid_l]
    y_train, y_valid = y.iloc[train_l],y.iloc[valid_l]
    
    model = xgboost.XGBClassifier()
    model.fit(X_train, y_train)
    p = model.predict(X_valid)
    results.append(np.mean(p==y_valid))

In [ ]:
print (np.mean(results))

# Create Submission

In [28]:
X = train.drop("Cover_Type",axis=1)

model = xgboost.XGBClassifier()
model.fit(X,train["Cover_Type"])
p = model.predict(test)
p

array([2, 2, 1, ..., 3, 3, 3])

In [29]:
sub = pd.Series(p,index=test["Id"],name="Cover_Type")
sub.to_csv("submission.csv",header=True)